<div class="container">
  <div>
    <!-- <video width="100%" height="400vh" controls>
      <source [src]="'http://localhost:3000' + selectedcourse.video" type="video/mp4">
      Your browser does not support the video tag.
    </video> -->

    <video *ngIf="selectedcourse.video"
    [src]="'http://localhost:3000/uploads/' + selectedcourse.video"
    style="width: 100%; height: 400px; object-fit: cover;"
    controls>
</video>

  </div>

  <div class="container mt-4 d-flex justify-content-center">
    <div class="premium-box">
      <h4 class="fw-bold text-secondary">
        {{ selectedcourse.price?.price | currency: 'INR' }} 
      </h4>

      <!-- <div class="flex-grow-1 px-3">
        <div class="mt-2">
          <button class="btn btn-warning me-2" (click)="buyNow()">Buy Now</button>
          <button class="btn btn-outline-primary" (click)="addToCart()">Add to Cart</button>
        </div>
      </div> -->


      <div class="flex-grow-1 px-3">
        <div class="mt-2">
          <!-- Show "Purchased" button if the course is purchased -->
          <button class="btn btn-success me-2" *ngIf="isPurchased" disabled>
            Purchased
          </button>
      
          <!-- Show "Buy Now" and "Add to Cart" buttons if the course is not purchased -->
          <ng-container *ngIf="!isPurchased">
            <!-- <button class="btn btn-warning me-2" (click)="buyNow()">Buy Now</button> -->
            <button class="btn btn-outline-primary" (click)="addToCart()">Add to Cart</button>
          </ng-container>
        </div>
      </div>

      <div class="text-center px-3 border-start">
        <h5 class="fw-bold">{{ averageRating }}</h5>
        <div class="rating-stars">
          <i *ngFor="let star of getFullStars(averageRating)" class="fa fa-star text-warning"></i>
          <i *ngIf="hasHalfStar(averageRating)" class="fa fa-star-half-alt text-warning"></i>
          <i *ngFor="let star of getEmptyStars(averageRating)" class="fa fa-star text-secondary"></i>
        </div>
        <a href="#" class="small text-muted">{{ totalReviews }} ratings</a>
      </div>

      <div class="text-center px-3 border-start">
        <app-review [courseId]="courseId!"></app-review>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h3 class="text-secondary">About Topic</h3>
    <p class="text-justify about-text">{{ selectedcourse.about }}</p>
  </div>

  <div>
    <h3 class="text-secondary">Introduction</h3>
  </div>

  <div class="container mt-5">
    <div class="accordion" id="courseAccordion">
      <div *ngFor="let courses of displayedCourses" class="accordion-item">
        <h2 class="accordion-header" [id]="courses.id + '-header'">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#' + courses._id" [attr.aria-controls]="courses._id" [disabled]="!isCoursePurchased(courses.course._id)"
            (click)="isCoursePurchased(courses.course._id)  &&   loadsectionbysectionid(courses._id)">
            {{ courses.name }}
          </button>
        </h2>

        <div class="accordion-collapse collapse" [id]="courses._id" [attr.aria-labelledby]="courses._id + '-header'"
          data-bs-parent="#courseAccordion">
          <div class="accordion-body"> 
            <p>{{ courses.details }}</p>

            <ul class="lesson-list">
              <li *ngFor="let lesson of lessons" class="lesson-item">
                <div class="lesson-content">
                  <div *ngIf="lesson.type === 'video'" (click)="toVideo(courses._id)">
                    <i class="fa fa-play-circle" title="Video"></i>
                    {{ lesson.title || 'Untitled Video' }}
                  </div>
                  <div *ngIf="lesson.type === 'pdf'" (click)="topdf(lesson.file)">
                    <i class="fa fa-file-text" title="PDF"></i>
                    {{ lesson.title || 'Untitled PDF' }}
                  </div>
                </div>
              </li>
            </ul>
            <!-- Conditionally Display Toggle Button Only If Questions Exist -->
            <div
            *ngIf="hasQuestionsMap[courses._id]"
            (click)="toggleQuestionPaper(courses._id)"
          >
            {{ questionPaperToggle[courses._id] ? 'Hide Question Paper' : 'Show Question Paper' }}
          </div>
          
          <!-- Conditionally Display Question Paper Component -->
          <div *ngIf="questionPaperToggle[courses._id] && hasQuestionsMap[courses._id]" class="mt-3">
            <app-viewquestionpaper [sectionId]="courses._id"></app-viewquestionpaper>
          </div>

          
          <div *ngIf="hasAssignmentMap[courses._id]" class="mt-3">
            <div (click)="toggleAssignment(courses._id)">
              {{ assignmentToggle[courses._id] ? 'Hide Assignment' : 'View Assignment' }}
            </div>
  
            <!-- Conditionally Display Assignment Answer Component -->
            <div *ngIf="assignmentToggle[courses._id]" class="mt-3">
              <h5>{{ assignmentTitles[courses._id] }}</h5> <!-- Display Assignment Title -->
              <app-assignmentanswer [sectionId]="courses._id"></app-assignmentanswer>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="mt-3 d-flex justify-content-center">
      <button *ngIf="itemsToShow < courses.length" (click)="loadMore()" class="btn btn-outline-primary"
        style="width: 100%;">Show More</button>
      <button *ngIf="itemsToShow > initialItemsToShow" (click)="showLess()" class="btn btn-outline-secondary mt-2"
        style="width: 100%;">Show Less</button>
    </div>
  </div>
</div>

<app-displayreview [courseId]="courseId!"></app-displayreview>