.text-justify {
    text-align: justify;
  }
  .premium-box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 15px;
    max-width: 800px;
}
/* .premium-badge {
    background: #5726C2;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.premium-badge i {
    font-size: 24px;
} */
.rating-stars i {
    color: #f4b400;
}
.star {
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.3s;
  }
  
  .star:hover {
    color: #f0ad4e; /* Hover effect for better interactivity */
  }
  .lesson-list {
    list-style-type: none;
    padding: 0;
  }
  
  .lesson-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    /* border-bottom: 1px solid #ddd; */
  }
  
  /* .lesson-icon {
    margin-right: 0.5rem;
    color: #6a1b9a; 
  } */
  
  .lesson-title {
    flex-grow: 1;
    margin-left: 10px;
    /* color: #333;
    font-weight: bold; */
  }
  
  .lesson-preview a {
    color: #6a1b9a;
    text-decoration: none;
  }
  
  .lesson-preview a:hover {
    text-decoration: underline;
  }
  
  .lesson-duration {
    color: #555;
  }
  .about-text {
    text-align: justify; /* Align text to both left and right edges */
    line-height: 1.6; /* Improve readability with proper line spacing */
    font-size: 1rem; /* Adjust font size for better readability */
    color: #333; /* Set a neutral text color */
    padding: 10px; /* Add padding around the text */
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-wrap: break-word; /* Break long words to prevent overflow */
    
  }
  .teacherdescribe{
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow-wrap: break-word;
  }
  