.main {
    width: 100%;
    /* display: flex;
    justify-content: space-around; */
    margin: 0;
    /* padding: 20px; */
}

.sub{
    width:100%;
}

.column-side {
    padding-top: 5px;
    width: 25%;
    background-color: rgb(230, 230, 230);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.column-full {
    /* padding-top: 20px; */
    width: 75%;
    background-color: rgb(242, 242, 242);
    margin-bottom: 10px;

    
}

.sub1 {
    margin-left: 30px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #ccc;  */
}

.link {
    margin-left: 15px;
    color: grey;
    text-decoration: none;
    font-size: 1.1em;
}

.link:hover {
    text-decoration: underline;
}

.profiles-box {
    width: 100%;
    /* border: 1px solid #ccc; */
    /* border-radius: 8px;        */
    /* background-color: #f9f9f9; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   */
    /* text-align: center; */
}

nav {
    background-color: #ecebeb;
    color: rgb(184, 182, 182);
    /* padding: 5px; */
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;

  }
  
  nav div {
    /* margin-right: 5px; */
    /* border-top-right-radius: 50px 50px; */
    padding: 10px;
    /* border-bottom-right-radius: 50px 50px; */


  }
  
  nav a {
    color: rgb(152, 152, 152);
    text-decoration: none;
    /* padding-right: 10px; */
  }
  
  nav a::after {
    display: inline-block;
    margin-left: 5px;
    color: white;
  }
  
  nav div:hover {
    background-color: #7b7b7b;
  }
  
  nav a:hover::after {
    color: rgb(255, 255, 255);
  }
  /* nav .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 10px;
  } */
  /* .arrow {
    position: relative;
    padding: 20px;
    background-color: #3498db; 
    color: white;
    text-align: center;
    border-radius: 5px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 6%);
} */
  
  
  .arrows{
    content: "";
    position: absolute;
    top: 50%;
    color:#ecebeb;
    /* right: -10px; Adjusts the position of the arrow */
    transform: translateY(-50%);
    /* border-left: 30px solid #3498db;  */
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  