.container {
    max-width: 900px;
  }
  
  .card {
    transition: 0.3s;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .star {
    color: gold;
    font-size: 18px;
  }
  
  .star-empty {
    color: lightgray;
    font-size: 18px;
  }
  
  