<div class="reset-password-container">
    <div class="reset-header">Reset Password</div>
    <div class="reset-instructions">
        Forgot your password? We can email you a link to reset it. Please enter your email address or username.
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Mail Id</label>
            <input type="email" id="email" formControlName="email" placeholder="Enter your registered email" required>
            <div *ngIf="isSubmitted && forgotPasswordForm.controls['email'].errors?.['required']" class="text-danger">
                Email is required
            </div>
            <div *ngIf="isSubmitted && forgotPasswordForm.controls['email'].errors?.['email']" class="text-danger">
                Enter a valid email
            </div>
        </div>

        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" id="username" formControlName="username" placeholder="Enter your User Name" required>
            <div *ngIf="isSubmitted && forgotPasswordForm.controls['username'].errors?.['required']" class="text-danger">
                Username is required
            </div>
        </div>

        <button type="submit" class="reset-button">
            ✔ Reset Password
        </button>
    </form>
</div>
