<div class="mcq-container">
    <h2>Multiple Choice Questions</h2>
  
    <form (ngSubmit)="onSubmit()" #mcqForm="ngForm">
      <div *ngFor="let question of questions; let i = index" class="question">
        <div class="question-title">
          <h3>Question {{ i + 1 }}</h3>
        </div>
  
        <!-- Question Text -->
        <div class="form-group">
          <label for="question{{ i }}">Question:</label>
          <input
            type="text"
            id="question{{ i }}"
            [(ngModel)]="question.question"
            name="question{{ i }}"
            required
          />
        </div>
  
        <!-- Mark -->
        <div class="form-group">
          <label for="mark{{ i }}">Mark:</label>
          <input
            type="number"
            id="mark{{ i }}"
            [(ngModel)]="question.mark"
            name="mark{{ i }}"
            required
            min="1"
          />
        </div>
  
        <!-- Options -->
        <div class="options">
            <label>Options:</label>
            <div *ngFor="let j of [0, 1, 2, 3]">
              <label for="option{{ i }}{{ j }}">Option {{ j + 1 }}:</label>
              <input
                type="text"
                id="option{{ i }}{{ j }}"
                [(ngModel)]="question.options[j]"
                name="option{{ i }}{{ j }}"
                required
              />
            </div>
          </div>
  
        <!-- Correct Answer -->
        <div class="form-group">
          <label for="correctAnswer{{ i }}">Correct Answer:</label>
          <select
            id="correctAnswer{{ i }}"
            [(ngModel)]="question.correctAnswer"
            name="correctAnswer{{ i }}"
            required
          >
            <option value="">Select Correct Answer</option>
            <option *ngFor="let option of question.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>

        <button type="button" (click)="deleteQuestion(i, question._id)" class="btn btn-danger" title="Delete Question">
            <i class="fa fa-trash"></i>
          </button>
  
        <hr />
      </div>

      
  
      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit" [disabled]="!mcqForm.form.valid">Save Questions</button>
      </div>
    </form>
  
    <!-- Add New Question Button -->
    <div class="add-question">
      <button (click)="addQuestion()">Add New Question</button>
    </div>
  </div>
  