   <div class="admin-container">
   <div class="content">
      
  
      <div class="section" id="dashboard">
        <h2>Dashboard Overview</h2>
        <p>Total Users: {{ totalUsers }}</p>
        <p>Total Teachers: {{ totalTeachers }}</p>
        <p>Courses Available: {{ totalCourses }}</p>
      </div>
  
      <div class="section" id="manage-courses">
        <h2>Manage Teachers</h2>
        <button (click)="teacher()">Teachers</button>
      </div>
  
      <div class="section" id="manage-users">
        <h2>Manage Users</h2>
        <button (click)="viewAllUsers()">View All Users</button>
      </div>
  
      <!-- Assignments Section
      <div class="section" id="assignments">
        <h2>Assignments</h2>
        <button (click)="createAssignment()">Create Assignment</button>
        Assignment management content goes here
      </div> -->
<!--   
      <div class="section" id="reports">
        <h2>Reports</h2>
        <p>View platform usage and performance reports here.</p>
        <button (click)="viewreport()">View All Users</button>

      </div> -->
<!--   
      <div class="section" id="settings">
        <h2>Settings</h2>
        <p>Configure platform settings here.</p>
      </div> -->
    </div>
</div>
  