.container {
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
    box-shadow: #ccc 1px 1px 5px;
  }
  
  .card {
    margin-top: 10px;
  }
  
  h2 {
    color: #007bff;
  }
  